.input-container {
    display: flex;
    align-items: flex-end;
}
.input-form {
    border: 1px solid #AF7EEB;
    border-color: #AF7EEB;
    outline: none;
    border-radius: 20px;
    padding: 7px 50px;
    margin: 30px 0 0 8px;
    text-align: center;
    font-size: 15px;
    color: gray;
}

.input-button {
    border: 1px solid #AF7EEB;
    border-radius: 50%;
    background-color: #AF7EEB;
    padding: 3px 10px 2px;
}

.plus-sign {
    color: #fff;
    background-color: #AF7EEB;
    padding: 5px 0px;
}

