button {
    padding-right: 10px;
    border-radius: 40px;
    border: none;
    padding: 15px 40px;
    background-color: #AF7EEB;
    font-weight: 900;
    font-size: 20px;
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    box-shadow: 0 0 10px #AF7EEB;
}

#plusSign {
    padding-right: 10px;
}

.buttonContainer {
    position: relative;
    display: flex;
    justify-content: center;
}

.NewtaskButton {
    position: absolute;
    bottom: -55px;
}