.new-task-button {
    color: #fff;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: #AF7EEB;
    border: 1px solid #AF7EEB;
    padding: 12px 30px;
    border-radius: 22.5px;
    
}

#plus-sign {
    padding-right: 5px;
}