.todo-list {
    margin-top: 25px;
    padding-top: 20px;
}

.todo-list-bottom {
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}