.todo-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}
.todo-list-item-right {
    display: flex;
    justify-content: start;
    align-items: center;
}

.checkbox {
    padding-right: 20px;
}

.trashcan {
    color: gray;
    font-size: 20px;
}
