.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #AF7EEB;
    padding: 5px 20px;
}

.navbar h1 {
    font-size: 1.3rem;
}
