.checkboxframe {
    padding-left: 0;
}
#circle {
    color: #c276f5;
    font-size: 10px;
}

.task {
    color: gray;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 500;
}

.tasks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    padding: 10px;
}

#trashcan {
    color: gray;
    font-size: 20px;
}

.bullets {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

